.navigation {
  &_container {
    font-family: 'Karla';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin: 20px;
      width: 220.41px;
      height: 48px;
    }
    p {
      text-transform: uppercase;
      padding: 0 14px;
    }
    p:hover {
      cursor:pointer;
      color:#7e7e7e;
    }
    p:nth-of-type(1), p:nth-of-type(2) {
      border-right: 2px solid black;
    }
  }
  &_routes {
    display: flex;
    flex-direction: row;
  }
}
