.navigation {
  &_container {
    font-family: 'Karla';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin: 20px;
      width: 220.41px;
      height: 48px;
    }
    
  }
  &_routes {
    display: flex;
    flex-direction: row;
    p {
      margin-bottom: 0;
      align-self: center;
      text-transform: uppercase;
      padding: 0 14px;
      &:hover {
        cursor:pointer;
        color:#7E8896;
      } 
    }
    a:nth-child(1), a:nth-child(2) {
      border-right: 2px solid #000000;
    }
  }
}

