@font-face {
  font-family: 'Montserrat';
  src: url('./Assets/Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./Assets/Fonts/Karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./Assets/Fonts/Karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app {
  min-height: 100vh;
  font-size: 1.2em;
  color: #000000;
}

body {
  font-family: Montserrat;
}
